<nav class="navbar navbar-light" style="background-color: green;">
<div class="container-fluid">
   <div class="navbar-header">
   <a  class="navbar-brand" href="#"><font color="black">Select-City</font></button>
 </div>
     <ul class="nav navbar-nav">
       <li><a href="/"><font color="black"><span class="glyphicon glyphicon-log-in"></span>Login
       </font></a></li>
       <% if (Login1) { %>
         <li><a href="/interest"><font color="black">Select</font></a></li>
         <li><a href="#"><font color="black"><span class="glyphicon glyphicon-user"></span>
           <%= message %></font></a></li>
       <% } %>
     </ul>
   </div>
 </div>
 </nav>
